@use "../../styles/utils" as *;

.activityCard {
  margin-top: 16px;
  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  
  @include on-desktop {
    margin-top: 32px;
    width: 448px;
  }

  &__img-box {
    position: relative;
  }

  &__img {
    width: 100%; 
    object-fit: cover;

    @include on-desktop {
      width: auto;
    }
  }

  &__mate {
    position: absolute;
    bottom: 10px;
    left: 8px;
    background-color: $button-red-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 400;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-box {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subtitle {
    font-family: Lora, sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text {
    font-size: 16px;

    &--date {
      color: $date-color;
    }

    &--location {
      color: $dark-blue-color;
    }
  }

  &__button {
    margin-top: 16px;
    width: 100%;
    background-color: $button-blue-color;
    padding-block: 16px;
    border-radius: 12px;
    font-size: 20px;
    color: $white-color;
  }
}