@use "../../styles/utils" as *;
.custom-select {
  position: relative;
  cursor: pointer;

  &__arrow {

    &::before {
      content: "";
      position: absolute;
      top: 50%;
       transform: translateY(-50%) rotate(0deg);
      right: 24px;
      width: 24px;
      height: 24px;
      background-image: url(/img/icons/arrow-down.svg);
      transition: transform $effect-duration ease;
    }

    &--rotated {
      &::before {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  &__header {
    background-color: $white-color;
    padding: 13px 13px 13px 46px;
    color: $black-color;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: all $effect-duration ease;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @include on-desktop {
      font-size: 16px;
      height: 56px;
      padding-left: 56px;

    }
  }


  &__placeholder {
    color: $select-grey-color;
  }

  &__filters {
    background-color: $light-grey-color;
    padding: 15px 56px 15px 24px; 
    height: 48px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 16px;
    color: $grey-color;

    @include on-desktop {
      height: 60px;
      font-size: 24px;
    }
  }

  &__activity {
    background-color: transparent;
    border: 1px solid $border-create-activity-color;
    border-radius: 8px;
    color: $black-color;
    padding: 12px 16px;
    margin-top: 8px;
  }

  &__options {
    margin-top: 8px;
    position: absolute;
    min-width: 100%;
    background-color: $white-color;
    box-shadow: 2px 16px 19px 0px #00000017, 0px 0px 4px 0px #00000017;
    z-index: 10;
    border-radius: 12px;
    display: flex;
    top: 53px !important;
    left: 0 !important;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
    max-width: 280px;

    @include on-desktop {
      margin-top: 12px;
    }
  }

  &__option {
    transition: all $effect-duration ease;
    cursor: pointer;
    font-size: 16px;
    color: $select-grey-color;
    white-space: nowrap;

    &:hover {
      color: $black-color;
    }
  }
}
