@use "../../styles/utils" as *;

.stars {
  &__container {
    display: flex;
    gap: 8px;
  }
}

@include on-desktop {
  .reviews__stars .stars__star,
  .createReviews__stars .stars__star {
    width: 44px;
    height: 44px;
  }
}

.createReviews__stars .stars__star:hover path {
  fill: #fe7062;
}

