@use "../../styles/utils" as *;

.reviewCard {
  border: 1px solid $dark-blue-color;
  border-radius: 12px;
  padding: 24px 32px;
  box-sizing: border-box;
  height: 100%;

  &__title {
    font-weight: 700;
    font-size: 24px;
    
    @include on-desktop {
      font-size: 36px;
    }
  }

  &__stars {
    padding-top: 8px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    padding-top: 24px;
    
    @include on-desktop {
      font-size: 24px;
    }
  }

  &__date {
    font-size: 16px;
    padding-top: 16px;
    line-height: 100%;
    font-weight: 300;
  }
  
  &__text {
    font-size: 14px;
    padding-top: 16px;
    line-height: 150%;
    font-weight: 300;
    
    @include on-desktop {
      font-size: 16px;
    }
  }
}
