@use "../../styles/utils" as *;

.calendar-picker {
  background-color: $white-color;
  border-radius: 12px;
  position: relative;

  &__label {
    font-size: 16px;
    color: $black-color;
    padding: 16px 24px 16px 56px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;
      width: 24px;
      height: 24px;
      background-image: url(/img/icons/arrow-down.svg);
      transition: transform $effect-duration ease;
    }

    &--rotated {
      &::before {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  .react-datepicker {
    background-color: $white-color;
    font-size: 16px;
    color: $number-day-color;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    box-shadow: 2px 16px 19px 0px #00000017;
    width: 327px;
    box-sizing: border-box;
    padding: 16px 24px;
    left: 55px;
    top: -5px;

    &-popper {
      z-index: 1;
    }

    &__header {
      background-color: transparent;
      border-bottom: none;
      text-align: center;
      position: relative;
    }

    &__day-names {
      padding-top: 8px;
      font-size: 10px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: $day-color;
      display: flex;
      justify-content: center;
      gap: 8px;
      height: min-content;
    }

    &__day--selected {
      background-color: #fe7062;
      border-radius: 50%;
      color: white;
    }

    &__day--today {
      border: 1px solid #fe7062;
      border-radius: 50%;
      font-weight: bold;
      outline: none;
    }

    &__input-container {
      display: none;
    }

    &__week {
      padding-top: 8px;
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    &__day,
    &__day-name {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 20px;
    }

    &__day {
      height: 30px;
      transition: background-color $effect-duration ease;
      cursor: pointer;

      &:hover {
        background-color: $bg-form;
      }
    }

    &__current-month {
      font-size: 16px;
      font-weight: 400;
    }

    &__aria-live {
      display: none;
    }

    &__navigation {
      position: absolute;
      top: 16px;
      height: 16px;
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border: solid $day-color;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
      }

      &--previous {
        left: 40px;
        font-size: 0;

        &::before {
          transform: rotate(-135deg);
        }
      }
      &--next {
        right: 40px;
        font-size: 0;

        &::before {
          transform: rotate(45deg);
        }
      }
    }

    &__triangle {
      display: none !important;
    }
  }
}
