@use "../../styles/utils" as *;

.aboutUs {
  padding-top: 32px;
  display: flex;
  flex-direction: column;

  @include container;

  &__title {
    font-family: Lora, sans-serif;
    font-size: 36px;
    font-weight: 400;

    @include on-desktop {
      font-size: 64px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 34px;

    @include on-desktop {
      padding-top: 50px;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__block-first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__empty {
    height: 0;
    width: 0;
    opacity: 0;
  }

  &__text {
    font-size: 12px;
    line-height: 100%;
    padding: 16px 25px;
    border: 1px solid $dark-blue-color;
    border-radius: 12px;
    text-align: center;
    position: relative;
    background-color: $bg-text-about;
    width: max-content;
    box-sizing: border-box;

    @include on-desktop {
      font-size: 16px;
    }

    &--1 {
      margin-top: 16px;
    }

    &--2 {
      margin-top: 16px;
      width: 170px;
      margin-left: auto;

      @include on-desktop {
        left: 50%;
        width: max-content;
      }
    }

    &--3 {
      margin-top: 22px;
      left: 10%;

      @include on-desktop {
        margin-top: 32px;
      }
    }
  }

  &__fyf {
    margin-top: 16px;
    position: relative;
    left: 10%;
    width: 248px;

    @include on-desktop {
      width: 496px;
    }
  }

  &__block-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    margin: 0 auto;

    @include on-desktop {
      width: 40%;
      margin: 0;
    }
  }

  &__img {
    position: relative;

    &--1 {
      left: 0%;
      width: 90%;

      @include on-desktop {
        left: -10%;
        width: 100%;
      }
    }

    &--2 {
      width: 90%;
      left: 13%;

      @include on-desktop {
        padding-top: 6px;
        left: 0;
        width: 100%;
      }
    }

    &--3 {
      left: -63%;
      margin-top: -87px;

      @include on-desktop {
        left: -83%;
        margin-top: -170px;
      }
    }
  }

  &__box-logo {
    margin-top: -60px;

    position: relative;
    z-index: 2;
    width: 94px;
    height: 73px;
    background-color: $white-color;
    border-radius: 16px;
    box-shadow: 6px 4px 10.3px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;

    @include on-desktop {
      height: 140px;
      width: 180px;
      margin-top: -110px;
      left: -5%;
    }
  }

  &__box-logo-img {
    width: 65px;

    @include on-desktop {
      width: 130px;
    }
  }

  &__button {
    background-color: $button-blue-color;
    border-radius: 12px;
    padding: 16px 24px;
    position: relative;
    z-index: 5;
    display: block;
    width: max-content;
    color: $white-color;
    font-size: 20px;
    white-space: nowrap;
    transition: all $effect-duration ease;

    &:hover {
      background-color: $white-color;
      color: $button-blue-color;
    }

    &--1 {
      display: none;

      @include on-desktop {
        display: block;
        left: 30%;
      }
    }

    &--2 {
      margin-top: 24px;
      left: 50%;
      transform: translate(-50%);
      align-self: center;

      @include on-desktop {
        display: none;
      }
    }
  }
}
