@use "../../styles/utils" as *;

.reviews {
  padding-top: 32px;
  position: relative;

  @include container;

  &__title {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 32px;

    @include on-desktop {
      font-size: 64px;
    }
  }

  &__stars {
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__count {
    font-size: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin: 24px auto 0;
    justify-content: space-between;

    @include on-desktop {
      margin: 48px auto 0;
    }
  }

  &__button {
    display: block;
    padding: 12px 32px;
    background-color: $button-blue-color;
    border-radius: 12px;
    font-size: 16px;
    color: $white-color;

    @include on-desktop {
      padding: 16px 133px;
    }
  }

  &__create {
    width: 44px;
    height: 44px;
    background-color: #000;
    border-radius: 50%;

    @include on-desktop {
      width: 56px;
      height: 56px;
    }
  }
}
