@use "../../styles/utils" as *;

.reviews {
  padding-top: 32px;
  position: relative;

  @include container;
 
  &__title {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 64px;
  }

  &__stars {
    padding-top: 24px;
    display: flex;
    align-items: center;
  }

  &__count {
    font-size: 20px;
  }

  &__button {
    display: block;
    padding: 16px 133px;
    background-color: $button-blue-color;
    border-radius: 12px;
    font-size: 16px;
    color: $white-color;
    margin: 48px auto 0;
  }

  &__create {
    position: absolute;
    bottom: 0;
    right: 32px;
    width: 56px;
    height: 56px;
    background-color: #000;
    border-radius: 50%;
  }
}