@use "../../styles/utils" as *;

.locationPicker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000009a;
  z-index: 20;

  &__map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    z-index: 30;
  }

  &__button {
    position: absolute;
    top: 0;
    right: -70px;
    z-index: 1000;
    cursor: pointer;
  }
}
