.camera-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 20;

  &__video {
    width: 90%;
    border-radius: 12px;
  }

  &__mirrored {
    transform: scaleX(-1);
  }

  &__controls {
    display: flex;
    gap: 50px;
    margin-top: 24px;
  }

  &__button {
    padding: 16px 24px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  &__button--close {
    background-color: #dc3545;
  }
}
