@use "../../styles/utils" as *;

.nav {
  &__list {
    display: flex;

    &--header {
      gap: 48px;
    }

    &--footer {
      flex-direction: column;
      gap: 16px;

      @include on-desktop {
        gap: 24px;
      }
    }

    &--menu {
      flex-direction: column;
      gap: 48px;
      align-items: center;
      padding-top: 132px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 100%;
    transition: color $effect-duration ease;

    @include on-desktop {
      font-size: 24px;
    }

    &--header {
      color: $grey-color;

      &:hover {
        color: $dark-blue-color;
      }

      &.nav__link--active {
        color: $dark-blue-color;
      }
    }

    &--footer {
      color: #000;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 0%;
        background-color: #000;
        bottom: 0;
        opacity: 0;
        transition: all $effect-duration ease;
      }

      &:hover::before {
        opacity: 1;
        width: 100%;
      }
    }

    &--bold {
      font-weight: 700;
    }

    &--menu {
      font-size: 24px;
      color: $grey-color;

      &:hover {
        color: $dark-blue-color;
      }

      &.nav__link--active {
        color: $dark-blue-color;
        font-weight: 700;
      }
    }
  }
}
