@use "../../styles/utils" as *;

.userPhotoUploader {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;

  @include on-desktop {
    padding-top: 32px;
  }

  &__photo-wrapper {
    display: block;
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;

    @include on-desktop {
      width: 150px;
      height: 150px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__button {
    font-size: 16px;
    line-height: 22px;
    border-radius: 12px;
    white-space: nowrap;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all $effect-duration ease;

    @include on-desktop {
      height: 56px;
      max-width: none;
      width: 238px;
    }

    &--add {
      min-width: 100px;
      max-width: 200px;
      width: auto;
      background-color: $button-blue-color;
      color: $white-color;

      &:hover {
        background-color: $dark-blue-color;
      }
    }

    &--take {
      min-width: 100px;
      max-width: 200px;
      width: auto;
      border: 1px solid $dark-blue-color;

       &:hover {
        background-color: $dark-blue-color;
        color: $white-color;
      }
    }
  }
}
