$dark-blue-color: #110875;
$light-grey-color: #EDE3E3;
$bg-form: #E2E9FC;
$grey-color: #565252;
$select-grey-color: #999DA3;
$button-blue-color: #4D4FFA;
$white-color: #fff;
$black-color: #0F0E0E;
$button-red-color: #FE7062;
$orange-color: #F76707;
$border-color: #E4D9D9;
$date-color: #979797;
$day-color: #B5BEC6;
$number-day-color: #4A5660;
$bg-text-about: #FAFAFA;
$border-input-color: #D0D5DD;
$button-google-color: #E4E7EB;
$cancel-plan-color: #DBDBDB;
$border-participants-color: #E8E2E2;