$header-text-color: #565252;
$white-color: #fff;
$yellow-color: #F2A61C;
$black-color: #0F0E0E;
$bg-login: #00000033;
$grey-color: #D0D5DD;
$light-grey-color: #E4E7EB;
$dark-grey-color: #4B5768;
$dark2-grey-color: #565252;