@use "../../styles/utils" as *;

.activities {
  padding-top: 104px;
  
  @include container;
  @include on-desktop {
    padding-top: 80px;
  }

  &__title {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 36px;

    @include on-desktop {
      font-size: 64px;
    }
  }
}