@use "../../styles/utils" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
  
  @include container;

  @include on-tablet {
    padding-block: 26px;
    margin-bottom: 48px;
  }

  &__nav-list {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 56px;
    }
  }

  &__nav-link {
    font-size: 24px;
    color: $header-text-color;

    &--is-active {
      font-weight: 700;
      color: $black-color;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
  }

  &__menu {
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include on-tablet {
      display: none;
    }
  }

  &__account {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;

    @include on-tablet {
      padding: 0;
    }
  }
}
