@use "../../styles/utils" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 32px;
  max-height: 13vh;
  box-sizing: border-box;

  @include container;

  &__block {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button {
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    padding: 16px 24px;
    border-radius: 12px;

    &--regist {
      color: $white-color;
      background-color: $button-blue-color;
    }

    &--login {
      color: $dark-blue-color;
      background-color: $light-grey-color;
    }
  }
}
