@use "../../styles/utils" as *;

.header {
  position: sticky;
  top: 0;
  background-color: $white-color;
  z-index: 10;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 32px;
    width: 100%;
    box-sizing: border-box;

    @include container;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button {
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    padding: 16px 24px;
    border-radius: 12px;

    &--regist {
      color: $white-color;
      background-color: $button-blue-color;
    }

    &--login {
      color: $grey-color;
      background-color: $light-grey-color;
    }
  }
}
