@use "../../styles/utils" as *;

.userInputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &__label {
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
  }

  &__input {
    @include on-desktop {
      width: 50%;
    }
  }

  &__error {
    border-color: $button-red-color;
  }

  &__error-text {
    position: absolute;
    bottom: -22px;
    left: 10px;
    color: $button-red-color;
  }
}
