@use "../../styles/utils" as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $white-color;
  overflow: hidden;
  z-index: 100;
  transform: translateX(100%);
  opacity: 0;
  transition: transform $effect-duration ease, opacity $effect-duration ease;

  @include container;
  
  @include on-desktop {
    display: none;
  }

  &--open {
    transform: translateX(0);
    opacity: 1;
  }

  &__close {
    cursor: pointer;
    transition: transform $effect-duration ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}