@use "../../styles/utils" as *;

.plans {
  padding-block: 32px;

  @include container;

  &__box {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 8px;
    margin-left: auto;

    @include on-desktop {
      padding-top: 0;
      gap: 16px;
    }
  }

  &__button {
    text-align: center;

    @include hover (scale, 1.2);
  }

  &__text {
    font-size: 14px;

    @include on-desktop {
      font-size: 16px;
    }
  }
  
 &__list {
    display: grid;
    gap: 16px;
    margin-top: 16px;
    
    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      align-items: stretch;
      margin-top: 32px;
    }
  }

  &__card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

