@use "../../styles/utils" as *;

.passwordField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &__label {
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
  }

  &__input {
    @include on-desktop {
      width: 50%;
    }
  }

  &__input-password {
    position: relative;
  }

  &__eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    transition: fill $effect-duration ease;

    @include on-desktop {
      right: 51%;
    }

    &:hover {
      fill: $black-color;
    }
  }

  &__error {
    border-color: $button-red-color;
  }

  &__error-text {
    position: absolute;
    bottom: -22px;
    left: 10px;
    color: $button-red-color;
  }
}
