@use "../../styles/utils" as *;

.footer {
  padding: 24px 16px 16px 16px;

  @include on-desktop {
    padding: 32px;
  }

  &__box-bg {
    padding: 24px;
    background-color: $bg-form;
    border-radius: 12px;
    
    @include on-desktop {
      padding: 48px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;


    @include on-desktop {
      flex-direction: row;
      align-items: start;
      gap: 48px;
    }
  }

  &__img {
    width: 87px;

    @include on-desktop {
      width: 130px;
    }
  }

  &__nav-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    @include on-desktop {
      justify-content: space-around;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text-down {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    padding-top: 32px;
    
    @include on-desktop {
      padding-top: 64px;
      font-size: 24px;
    }
  }

}
