@use "../../styles/utils" as *;

.footer {
  padding-block: 32px;

  &__box-bg {
    padding: 48px;
    background-color: $bg-form;
    border-radius: 12px;
    box-sizing: border-box;

    @include container;
  }

  &__box {
    display: flex;
    gap: 48px;
    align-items: start;
  }

  &__nav-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text-down {
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    padding-top: 64px;
    text-align: center;
  }
}