@use "../../styles/utils" as *;
.filters {
  padding-top: 16px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  
  @include on-desktop {
    padding-top: 32px;
  }

  &__wrapper {
    overflow-x: clip;
    position: relative;

    user-select: none;
    max-width: 100%;
    position: relative;
    height: auto;
    cursor: grab;
    
    &::-webkit-scrollbar {
      display: none;
    }

    &--dragging {
      cursor: grabbing;
    }
  }
  &__sort-box {
    display: flex;
    gap: 16px;
    min-width: max-content;
  }
  &__sort {
    color: $grey-color;
    padding: 16px 24px;
    background-color: $light-grey-color;
    border-radius: 12px;
    white-space: nowrap;
    font-size: 16px;

    @include on-desktop {
      font-size: 24px;
    }
  }
}