@use "../../styles/utils" as *;

.filters {
  padding-top: 16px;
  max-width: 100%;
  position: relative;

  @include on-desktop {
    padding-top: 32px;
  }

  &__wrapper {
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__sort-box {
    display: flex;
    gap: 16px;
    min-width: max-content;
  }

  &__sort {
    color: $grey-color;
    padding: 16px 24px;
    background-color: $light-grey-color;
    border-radius: 12px;
    white-space: nowrap;
    font-size: 16px;
    
    @include on-desktop {
      font-size: 24px;
    }
  }
}
